body {
  font-family: League Spartan;
}
.display-1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 8.75rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.9375rem;
}
.display-2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-4 {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'League Spartan', sans-serif;
  font-size: 2.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-7 {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.63rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.0375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 6.125rem;
    font-size: calc( 3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.304rem;
    font-size: calc( 1.2205rem + (1.63 - 1.2205) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2205rem + (1.63 - 1.2205) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff4545 !important;
}
.bg-success {
  background-color: #44af68 !important;
}
.bg-info {
  background-color: #fed243 !important;
}
.bg-warning {
  background-color: #00c8f1 !important;
}
.bg-danger {
  background-color: #0000ff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff4545 !important;
  border-color: #ff4545 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #ff4545;
}
.btn-primary:hover .mobi-mbri:after,
.btn-primary:focus .mobi-mbri:after,
.btn-primary.focus .mobi-mbri:after,
.btn-primary.active .mobi-mbri:after {
  display: block;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ed0000 !important;
  border-color: #ed0000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f6b7d2 !important;
  border-color: #f6b7d2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #f6b7d2;
}
.btn-secondary:hover .mobi-mbri:after,
.btn-secondary:focus .mobi-mbri:after,
.btn-secondary.focus .mobi-mbri:after,
.btn-secondary.active .mobi-mbri:after {
  display: block;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ec6aa2 !important;
  border-color: #ec6aa2 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fed243 !important;
  border-color: #fed243 !important;
  color: #423200 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fed243;
}
.btn-info:hover .mobi-mbri:after,
.btn-info:focus .mobi-mbri:after,
.btn-info.focus .mobi-mbri:after,
.btn-info.active .mobi-mbri:after {
  display: block;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #423200 !important;
  background-color: #e9b301 !important;
  border-color: #e9b301 !important;
}
.btn-success,
.btn-success:active {
  background-color: #44af68 !important;
  border-color: #44af68 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #44af68;
}
.btn-success:hover .mobi-mbri:after,
.btn-success:focus .mobi-mbri:after,
.btn-success.focus .mobi-mbri:after,
.btn-success.active .mobi-mbri:after {
  display: block;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2c7143 !important;
  border-color: #2c7143 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #00c8f1 !important;
  border-color: #00c8f1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #00c8f1;
}
.btn-warning:hover .mobi-mbri:after,
.btn-warning:focus .mobi-mbri:after,
.btn-warning.focus .mobi-mbri:after,
.btn-warning.active .mobi-mbri:after {
  display: block;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #00809a !important;
  border-color: #00809a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0000ff !important;
  border-color: #0000ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #0000ff;
}
.btn-danger:hover .mobi-mbri:after,
.btn-danger:focus .mobi-mbri:after,
.btn-danger.focus .mobi-mbri:after,
.btn-danger.active .mobi-mbri:after {
  display: block;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0000a8 !important;
  border-color: #0000a8 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
  color: #e09e0d !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white:hover .mobi-mbri:after,
.btn-white:focus .mobi-mbri:after,
.btn-white.focus .mobi-mbri:after,
.btn-white.active .mobi-mbri:after {
  display: block;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #e09e0d !important;
  background-color: #f9dc9c !important;
  border-color: #f9dc9c !important;
}
.btn-black,
.btn-black:active {
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #1f1d1a;
}
.btn-black:hover .mobi-mbri:after,
.btn-black:focus .mobi-mbri:after,
.btn-black.focus .mobi-mbri:after,
.btn-black.active .mobi-mbri:after {
  display: block;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background-color: #fef9ee !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  border-color: transparent;
  color: #ff4545;
}
.btn-primary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ff4545 !important;
}
.btn-primary-outline:hover .mobi-mbri:after,
.btn-primary-outline:focus .mobi-mbri:after,
.btn-primary-outline.focus .mobi-mbri:after,
.btn-primary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4545 !important;
  border-color: #ff4545 !important;
}
.btn-secondary-outline {
  background-color: #fef9ee !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  border-color: transparent;
  color: #f6b7d2;
}
.btn-secondary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #f6b7d2 !important;
}
.btn-secondary-outline:hover .mobi-mbri:after,
.btn-secondary-outline:focus .mobi-mbri:after,
.btn-secondary-outline.focus .mobi-mbri:after,
.btn-secondary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f6b7d2 !important;
  border-color: #f6b7d2 !important;
}
.btn-info-outline {
  background-color: #fef9ee !important;
}
.btn-info-outline,
.btn-info-outline:active {
  border-color: transparent;
  color: #fed243;
}
.btn-info-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #fed243 !important;
}
.btn-info-outline:hover .mobi-mbri:after,
.btn-info-outline:focus .mobi-mbri:after,
.btn-info-outline.focus .mobi-mbri:after,
.btn-info-outline.active .mobi-mbri:after {
  display: block;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #423200 !important;
  background-color: #fed243 !important;
  border-color: #fed243 !important;
}
.btn-success-outline {
  background-color: #fef9ee !important;
}
.btn-success-outline,
.btn-success-outline:active {
  border-color: transparent;
  color: #44af68;
}
.btn-success-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #44af68 !important;
}
.btn-success-outline:hover .mobi-mbri:after,
.btn-success-outline:focus .mobi-mbri:after,
.btn-success-outline.focus .mobi-mbri:after,
.btn-success-outline.active .mobi-mbri:after {
  display: block;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #44af68 !important;
  border-color: #44af68 !important;
}
.btn-warning-outline {
  background-color: #fef9ee !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  border-color: transparent;
  color: #00c8f1;
}
.btn-warning-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #00c8f1 !important;
}
.btn-warning-outline:hover .mobi-mbri:after,
.btn-warning-outline:focus .mobi-mbri:after,
.btn-warning-outline.focus .mobi-mbri:after,
.btn-warning-outline.active .mobi-mbri:after {
  display: block;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #00c8f1 !important;
  border-color: #00c8f1 !important;
}
.btn-danger-outline {
  background-color: #fef9ee !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  border-color: transparent;
  color: #0000ff;
}
.btn-danger-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #0000ff !important;
}
.btn-danger-outline:hover .mobi-mbri:after,
.btn-danger-outline:focus .mobi-mbri:after,
.btn-danger-outline.focus .mobi-mbri:after,
.btn-danger-outline.active .mobi-mbri:after {
  display: block;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #0000ff !important;
}
.btn-black-outline {
  background-color: #fef9ee !important;
}
.btn-black-outline,
.btn-black-outline:active {
  border-color: transparent;
  color: #1f1d1a;
}
.btn-black-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #1f1d1a !important;
}
.btn-black-outline:hover .mobi-mbri:after,
.btn-black-outline:focus .mobi-mbri:after,
.btn-black-outline.focus .mobi-mbri:after,
.btn-black-outline.active .mobi-mbri:after {
  display: block;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
}
.btn-white-outline {
  background-color: #fef9ee !important;
}
.btn-white-outline,
.btn-white-outline:active {
  border-color: transparent;
  color: #fef9ee;
}
.btn-white-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fef9ee !important;
}
.btn-white-outline:hover .mobi-mbri:after,
.btn-white-outline:focus .mobi-mbri:after,
.btn-white-outline.focus .mobi-mbri:after,
.btn-white-outline.active .mobi-mbri:after {
  display: block;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #e09e0d !important;
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
}
.text-primary {
  color: #ff4545 !important;
}
.text-secondary {
  color: #f6b7d2 !important;
}
.text-success {
  color: #44af68 !important;
}
.text-info {
  color: #fed243 !important;
}
.text-warning {
  color: #00c8f1 !important;
}
.text-danger {
  color: #0000ff !important;
}
.text-white {
  color: #FEF9EE !important;
}
.text-black {
  color: #1F1D1A !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff4545;
}
.nav-tabs .nav-link:not(.active) {
  color: #1F1D1A;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fed243;
}
.alert-warning {
  background-color: #00c8f1;
}
.alert-danger {
  background-color: #0000ff;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff4545;
  border-color: #ff4545;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff4545;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #9bd8af;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #bef4ff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ccccff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff4545 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #ff4545;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff4545;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff4545;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff4545;
  border-bottom-color: #ff4545;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff4545 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f6b7d2 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff4545' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
  text-decoration-line: underline;
}
.container {
  max-width: 1322px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  margin-left: -40px;
  margin-right: -40px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .row {
    margin-left: -32px;
    margin-right: -32px;
  }
  .row > [class*="col"] {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .row {
    margin-left: -24px;
    margin-right: -24px;
  }
  .row > [class*="col"] {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 40px;
  padding: 9px 24px;
  line-height: 1.55;
  font-weight: 500;
  transition-duration: .2s;
  border-radius: 9999px;
  text-underline-offset: 4px;
  box-shadow: none !important;
  border: none !important;
  overflow: hidden;
}
.mbr-section-btn .btn .mobi-mbri {
  position: relative;
}
.mbr-section-btn .btn:hover {
  text-decoration-line: underline;
}
.mbr-section-btn .btn-white-outline {
  background-color: transparent !important;
}
.mbr-section-btn .btn-white-outline:hover {
  text-decoration-line: none !important;
}
.mbr-section-btn .btn-white-outline .mobi-mbri:after {
  display: none !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
section {
  overflow: hidden;
}
b {
  font-weight: 600 !important;
}
.cid-t9Fl1qm4By {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/parejas-142-480x600.jpg");
  position: relative;
  overflow: hidden;
}
.cid-t9Fl1qm4By .mbr-fallback-image.disabled {
  display: none;
}
.cid-t9Fl1qm4By .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t9Fl1qm4By .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-t9Fl1qm4By .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-t9Fl1qm4By .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-t9Fl1qm4By .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-t9Fl1qm4By .card-wrapper {
  width: 100%;
}
.cid-t9Fl1qm4By .card-box {
  width: 100%;
}
.cid-t9Fl1qm4By .card-title {
  color: #ff4545;
  margin-bottom: 0;
  text-align: center;
}
.cid-t9Fl1qm4By .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-t9Fl1qm4By .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-t9Fl1qm4By .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-t9Fl1qm4By .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-t9Fl1qm4By .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-t9Fl1qm4By .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-t9Fl1qm4By .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-t9Fl1qm4By .bg-img {
    width: 150%;
  }
}
.cid-t9Fl1qm4By .mbr-text,
.cid-t9Fl1qm4By .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFyZraRKa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.cid-tHFyZraRKa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFyZraRKa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFyZraRKa .row {
  justify-content: flex-start;
}
.cid-tHFyZraRKa .mbr-text {
  color: #FEF9EE;
  margin-bottom: 30px;
}
.cid-t9Fl4QH71G {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #1f1d1a;
}
.cid-t9Fl4QH71G .row {
  justify-content: center;
}
.cid-t9Fl4QH71G .col-title {
  margin-bottom: 2.5rem;
}
.cid-t9Fl4QH71G .mbr-section-title {
  color: #ff4545;
  text-align: center;
}
.cid-t9Fl4QH71G .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-t9Fl4QH71G .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (max-width: 991px) {
  .cid-t9Fl4QH71G .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-t9Fl4QH71G .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-t9Fl4QH71G .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #75083a;
  min-height: 432px;
}
@media (max-width: 991px) {
  .cid-t9Fl4QH71G .card {
    min-height: 372px;
  }
}
@media (max-width: 639px) {
  .cid-t9Fl4QH71G .card {
    min-height: 276px;
  }
}
.cid-t9Fl4QH71G .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-t9Fl4QH71G .card:hover .card-title {
  text-decoration: underline;
}
.cid-t9Fl4QH71G .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-t9Fl4QH71G .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  border-top-right-radius: 100px;
  overflow: hidden;
}
.cid-t9Fl4QH71G .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-t9Fl4QH71G .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-t9Fl4QH71G .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-t9Fl4QH71G .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #F6B7D2;
  position: relative;
  z-index: 11;
}
.cid-t9Fl4QH71G .card-text {
  width: 100%;
  color: #FEF9EE;
  margin-top: 0.25rem;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
}
.cid-t9Fl4QH71G .mbr-section-btn {
  margin-top: 30px;
}
.cid-t9Fl4QH71G .card-title-1 {
  color: #ffffff;
}
.cid-t9FjKvkbFR {
  background-image: url("../../../assets/images/amor-146-resultado-512x512.jpg");
  display: flex;
  align-items: center;
}
.cid-t9FjKvkbFR .mbr-fallback-image.disabled {
  display: none;
}
.cid-t9FjKvkbFR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t9FjKvkbFR .row {
  justify-content: flex-start;
}
.cid-t9FjKvkbFR .mbr-section-title {
  color: #ff4545;
  text-align: center;
}
.cid-t9FjKvkbFR .mbr-section-subtitle {
  color: #FEF9EE;
}
.cid-t9FjKvkbFR .mbr-text {
  color: #FEF9EE;
}
.cid-t9FjKvkbFR .mbr-text,
.cid-t9FjKvkbFR .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFyGK0K7V {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.cid-tHFyGK0K7V .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFyGK0K7V .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFyGK0K7V .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFyGK0K7V .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFyGK0K7V .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFyGK0K7V .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFyGK0K7V .card-wrapper {
  width: 100%;
}
.cid-tHFyGK0K7V .card-box {
  width: 100%;
}
.cid-tHFyGK0K7V .card-title {
  color: #ff4545;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFyGK0K7V .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFyGK0K7V .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFyGK0K7V .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFyGK0K7V .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFyGK0K7V .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFyGK0K7V .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFyGK0K7V .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFyGK0K7V .bg-img {
    width: 150%;
  }
}
.cid-tHFyGK0K7V .mbr-text,
.cid-tHFyGK0K7V .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFyPkoayh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/amor-91-512x512.jpg");
  position: relative;
  overflow: hidden;
}
.cid-tHFyPkoayh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFyPkoayh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFyPkoayh .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFyPkoayh .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFyPkoayh .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFyPkoayh .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFyPkoayh .card-wrapper {
  width: 100%;
}
.cid-tHFyPkoayh .card-box {
  width: 100%;
}
.cid-tHFyPkoayh .card-title {
  color: #ff4545;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFyPkoayh .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFyPkoayh .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFyPkoayh .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFyPkoayh .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFyPkoayh .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFyPkoayh .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFyPkoayh .bg-img {
  position: absolute;
  width: 100%;
  background-color: #000000;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFyPkoayh .bg-img {
    width: 150%;
  }
}
.cid-tHFyPkoayh .mbr-text,
.cid-tHFyPkoayh .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-t9FMuXVyk3 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f1d1a;
  overflow: hidden;
}
.cid-t9FMuXVyk3 .mbr-text {
  color: #FEF9EE;
}
.cid-tHFRcnAi7l {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pactos-223-512x512.jpg");
  position: relative;
  overflow: hidden;
}
.cid-tHFRcnAi7l .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFRcnAi7l .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFRcnAi7l .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFRcnAi7l .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFRcnAi7l .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFRcnAi7l .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFRcnAi7l .card-wrapper {
  width: 100%;
}
.cid-tHFRcnAi7l .card-box {
  width: 100%;
}
.cid-tHFRcnAi7l .card-title {
  color: #f1001f;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFRcnAi7l .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFRcnAi7l .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFRcnAi7l .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFRcnAi7l .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFRcnAi7l .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFRcnAi7l .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFRcnAi7l .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFRcnAi7l .bg-img {
    width: 150%;
  }
}
.cid-tHFRcnAi7l .mbr-text,
.cid-tHFRcnAi7l .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFRco3eDl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.cid-tHFRco3eDl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFRco3eDl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFRco3eDl .row {
  justify-content: flex-start;
}
.cid-tHFRco3eDl .mbr-text {
  color: #FEF9EE;
  margin-bottom: 30px;
}
.cid-tHFRcoqhLO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #1f1d1a;
}
.cid-tHFRcoqhLO .row {
  justify-content: center;
}
.cid-tHFRcoqhLO .col-title {
  margin-bottom: 2.5rem;
}
.cid-tHFRcoqhLO .mbr-section-title {
  color: #f1001f;
  text-align: center;
}
.cid-tHFRcoqhLO .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-tHFRcoqhLO .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tHFRcoqhLO .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-tHFRcoqhLO .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFRcoqhLO .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #f1001f;
  min-height: 432px;
}
@media (max-width: 991px) {
  .cid-tHFRcoqhLO .card {
    min-height: 372px;
  }
}
@media (max-width: 639px) {
  .cid-tHFRcoqhLO .card {
    min-height: 276px;
  }
}
.cid-tHFRcoqhLO .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-tHFRcoqhLO .card:hover .card-title {
  text-decoration: underline;
}
.cid-tHFRcoqhLO .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-tHFRcoqhLO .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  border-top-right-radius: 100px;
  overflow: hidden;
}
.cid-tHFRcoqhLO .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-tHFRcoqhLO .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-tHFRcoqhLO .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-tHFRcoqhLO .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #F6B7D2;
  position: relative;
  z-index: 11;
}
.cid-tHFRcoqhLO .card-text {
  width: 100%;
  color: #FEF9EE;
  margin-top: 0.25rem;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
}
.cid-tHFRcoqhLO .mbr-section-btn {
  margin-top: 30px;
}
.cid-tHFRcoqhLO .card-title-1 {
  color: #ffffff;
}
.cid-tHFRcoNUMd {
  background-image: url("../../../assets/images/pactos-338-512x512.jpg");
  display: flex;
  align-items: center;
}
.cid-tHFRcoNUMd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFRcoNUMd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFRcoNUMd .row {
  justify-content: flex-start;
}
.cid-tHFRcoNUMd .mbr-section-title {
  color: #f1001f;
  text-align: center;
}
.cid-tHFRcoNUMd .mbr-section-subtitle {
  color: #FEF9EE;
}
.cid-tHFRcoNUMd .mbr-text {
  color: #FEF9EE;
}
.cid-tHFRcoNUMd .mbr-text,
.cid-tHFRcoNUMd .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFRcp4xyk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.cid-tHFRcp4xyk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFRcp4xyk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFRcp4xyk .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFRcp4xyk .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFRcp4xyk .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFRcp4xyk .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFRcp4xyk .card-wrapper {
  width: 100%;
}
.cid-tHFRcp4xyk .card-box {
  width: 100%;
}
.cid-tHFRcp4xyk .card-title {
  color: #f1001f;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFRcp4xyk .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFRcp4xyk .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFRcp4xyk .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFRcp4xyk .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFRcp4xyk .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFRcp4xyk .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFRcp4xyk .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFRcp4xyk .bg-img {
    width: 150%;
  }
}
.cid-tHFRcp4xyk .mbr-text,
.cid-tHFRcp4xyk .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFRcpn0QD {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pactos-231-512x512.jpg");
  position: relative;
  overflow: hidden;
}
.cid-tHFRcpn0QD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFRcpn0QD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFRcpn0QD .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFRcpn0QD .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFRcpn0QD .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFRcpn0QD .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFRcpn0QD .card-wrapper {
  width: 100%;
}
.cid-tHFRcpn0QD .card-box {
  width: 100%;
}
.cid-tHFRcpn0QD .card-title {
  color: #f1001f;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFRcpn0QD .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFRcpn0QD .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFRcpn0QD .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFRcpn0QD .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFRcpn0QD .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFRcpn0QD .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFRcpn0QD .bg-img {
  position: absolute;
  width: 100%;
  background-color: #000000;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFRcpn0QD .bg-img {
    width: 150%;
  }
}
.cid-tHFRcpn0QD .mbr-text,
.cid-tHFRcpn0QD .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFRcpFmK0 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f1d1a;
  overflow: hidden;
}
.cid-tHFRcpFmK0 .mbr-text {
  color: #FEF9EE;
}
.cid-tHFXDPk8Go {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/limpias-2-9-512x512.jpg");
  position: relative;
  overflow: hidden;
}
.cid-tHFXDPk8Go .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFXDPk8Go .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFXDPk8Go .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFXDPk8Go .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFXDPk8Go .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFXDPk8Go .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFXDPk8Go .card-wrapper {
  width: 100%;
}
.cid-tHFXDPk8Go .card-box {
  width: 100%;
}
.cid-tHFXDPk8Go .card-title {
  color: #00c8f1;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFXDPk8Go .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFXDPk8Go .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFXDPk8Go .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFXDPk8Go .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFXDPk8Go .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFXDPk8Go .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFXDPk8Go .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFXDPk8Go .bg-img {
    width: 150%;
  }
}
.cid-tHFXDPk8Go .mbr-text,
.cid-tHFXDPk8Go .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFXDPMWE2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  display: flex;
  align-items: center;
}
.cid-tHFXDPMWE2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFXDPMWE2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFXDPMWE2 .row {
  justify-content: flex-start;
}
.cid-tHFXDPMWE2 .mbr-text {
  color: #FEF9EE;
  margin-bottom: 30px;
}
.cid-tHFXDQ3ScC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #1f1d1a;
}
.cid-tHFXDQ3ScC .row {
  justify-content: center;
}
.cid-tHFXDQ3ScC .col-title {
  margin-bottom: 2.5rem;
}
.cid-tHFXDQ3ScC .mbr-section-title {
  color: #00c8f1;
  text-align: center;
}
.cid-tHFXDQ3ScC .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-tHFXDQ3ScC .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tHFXDQ3ScC .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-tHFXDQ3ScC .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFXDQ3ScC .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #00c8f1;
  min-height: 432px;
}
@media (max-width: 991px) {
  .cid-tHFXDQ3ScC .card {
    min-height: 372px;
  }
}
@media (max-width: 639px) {
  .cid-tHFXDQ3ScC .card {
    min-height: 276px;
  }
}
.cid-tHFXDQ3ScC .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-tHFXDQ3ScC .card:hover .card-title {
  text-decoration: underline;
}
.cid-tHFXDQ3ScC .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-tHFXDQ3ScC .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  border-top-right-radius: 100px;
  overflow: hidden;
}
.cid-tHFXDQ3ScC .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-tHFXDQ3ScC .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-tHFXDQ3ScC .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-tHFXDQ3ScC .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #F6B7D2;
  position: relative;
  z-index: 11;
}
.cid-tHFXDQ3ScC .card-text {
  width: 100%;
  color: #FEF9EE;
  margin-top: 0.25rem;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
}
.cid-tHFXDQ3ScC .mbr-section-btn {
  margin-top: 30px;
}
.cid-tHFXDQ3ScC .card-title-1 {
  color: #ffffff;
}
.cid-tHFXDQllHd {
  background-image: url("../../../assets/images/limpias-2-16-512x512.jpg");
  display: flex;
  align-items: center;
}
.cid-tHFXDQllHd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFXDQllHd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFXDQllHd .row {
  justify-content: flex-start;
}
.cid-tHFXDQllHd .mbr-section-title {
  color: #00c8f1;
  text-align: center;
}
.cid-tHFXDQllHd .mbr-section-subtitle {
  color: #FEF9EE;
}
.cid-tHFXDQllHd .mbr-text {
  color: #FEF9EE;
}
.cid-tHFXDQllHd .mbr-text,
.cid-tHFXDQllHd .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFXDQAaRj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.cid-tHFXDQAaRj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFXDQAaRj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFXDQAaRj .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFXDQAaRj .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFXDQAaRj .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFXDQAaRj .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFXDQAaRj .card-wrapper {
  width: 100%;
}
.cid-tHFXDQAaRj .card-box {
  width: 100%;
}
.cid-tHFXDQAaRj .card-title {
  color: #00c8f1;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFXDQAaRj .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFXDQAaRj .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFXDQAaRj .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFXDQAaRj .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFXDQAaRj .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFXDQAaRj .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFXDQAaRj .bg-img {
  position: absolute;
  width: 100%;
  background-color: #44af69;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFXDQAaRj .bg-img {
    width: 150%;
  }
}
.cid-tHFXDQAaRj .mbr-text,
.cid-tHFXDQAaRj .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFXDQO0h9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/limpias-2-4-512x512.jpg");
  position: relative;
  overflow: hidden;
}
.cid-tHFXDQO0h9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFXDQO0h9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFXDQO0h9 .content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;
  position: relative;
  z-index: 11;
}
@media (max-width: 991px) {
  .cid-tHFXDQO0h9 .content-container {
    gap: 2.5rem;
  }
}
@media (min-width: 992px) {
  .cid-tHFXDQO0h9 .content-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .cid-tHFXDQO0h9 .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tHFXDQO0h9 .card-wrapper {
  width: 100%;
}
.cid-tHFXDQO0h9 .card-box {
  width: 100%;
}
.cid-tHFXDQO0h9 .card-title {
  color: #00c8f1;
  margin-bottom: 0;
  text-align: center;
}
.cid-tHFXDQO0h9 .mbr-text {
  color: #1F1D1A;
  margin-bottom: 0;
  margin-top: 1.25rem;
}
.cid-tHFXDQO0h9 .mbr-section-btn {
  margin-top: 1.4rem;
}
.cid-tHFXDQO0h9 .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 17%;
}
@media (max-width: 767px) {
  .cid-tHFXDQO0h9 .col-img {
    grid-row-start: 0;
    grid-row-end: 1;
    padding: 10% 17%;
  }
}
.cid-tHFXDQO0h9 .image-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.cid-tHFXDQO0h9 .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tHFXDQO0h9 .bg-img {
  position: absolute;
  width: 100%;
  background-color: #000000;
  aspect-ratio: 1;
  border-radius: 9999px;
  right: 0;
  bottom: 0;
  transform: translateY(50%) translateX(50%);
}
@media (max-width: 767px) {
  .cid-tHFXDQO0h9 .bg-img {
    width: 150%;
  }
}
.cid-tHFXDQO0h9 .mbr-text,
.cid-tHFXDQO0h9 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tHFXDR2n4O {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f1d1a;
  overflow: hidden;
}
.cid-tHFXDR2n4O .mbr-text {
  color: #FEF9EE;
}
